[init]
    defaultBranch = main
[push]
    autoSetupRemote = true
[credential]
    helper = cache --timeout=604800
[alias]
    bn = "!git rev-parse --abbrev-ref HEAD"
    mrtd = "!git push -o merge_request.create -o merge_request.target=develop -o merge_request.remove_source_branch -o merge_request.squash origin $(git bn)"
    mrtr = "!git push -o merge_request.create -o merge_request.target=release -o merge_request.remove_source_branch -o merge_request.squash origin $(git bn)"
    mrtm = "!git push -o merge_request.create -o merge_request.target=main -o merge_request.remove_source_branch -o merge_request.squash origin $(git bn)"
[core]
    autocrlf = input
    editor = nvim
[pull]
	rebase = true
[includeIf "gitdir:~/Workspace/"]
    path = /home/yzolkin/dotfiles/git/.gitconfig-workspace
[includeIf "gitdir:~/Personal/"]
    path = /home/yzolkin/dotfiles/git/.gitconfig-personal
[includeIf "gitdir:~/dotfiles/"]
    path = /home/yzolkin/dotfiles/git/.gitconfig-personal

[remote "origin"]
	glab-resolved = base
